@import url("https://openui.netlify.app/css/components.css");


body{
    width: 600px;
    margin: auto;
}

.container{
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}